# Ignore any ISO images we generate for our cloud-init data
*.iso
# Ignore any QEMU disk images
*.qcow2
# Ignore an VirtualBox disk images
*.vdi
# Ignore any generated .html files
prepare/index.html
# Ignore log files
*.log
*.odp
*.pdf
*.sublime-project
*.sublime-workspace
