[Unit]
Description=atomicmirror ostree repository: NAME
Requires=docker.service
After=Docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a NAME
ExecStop=/usr/bin/docker stop -t 2 NAME

[Install]
WantedBy=multi-user.target
